<!DOCTYPE html>
<html lang="ja">
<head>
    <title></title>
</head>
<body>
    {{user_name}} 様<br>
     Welcome to Hathor Comestic, Thank you for trusting Hathor<br>
     We will inform you of the authentication code of reset password<br>
     Authentication code：<br>
    <h2><strong>{{code}}</strong></h2>
    Enter the above verification code on the password reset screen of the "HATHOR" app to complete the password reset. <br>
    ※This email is sent to those who have registered for the HATHOR service.<br>
    ※This e-mail is a send-only e-mail, you do not receive a reply.<br>
</body>
</html>